@font-face {
  font-family: Metropolis-R;
  src: url(./Metropolis-Regular.otf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Metropolis;
  src: url(./Metropolis-Medium.otf);
  font-weight: 700;
}

body {
  font-family: Metropolis;
  z-index: 4;
}

.mainnav {
  padding-left: 0px;
  height: 3.625rem;
  z-index: 4;
  font-size: 0.9rem;
}

.ms-5 {
  margin-left: 47rem !important;
}

i {
  font-size: 15px;
}

.row a:hover {
  transform: translateY(-10px);
}
.bi-chevron-right {
  margin-top: 6px;
  margin-left: 6px;
  font-size: 10px;
}
.img-fluid {
  width: 100%;
  height: auto;
}

.sidebar-container {
  display: flex;
}

.sidebar {
  width: 240px;
  height: 100vh;
  z-index: 3;
}
.sidenav {
  display: flex;
  flex-flow: column;
  height: 100%;
  font-size: 14.4px;
}

.sidenav-light {
  background-color: rgb(255, 255, 255);
  color: rgb(33, 40, 50);
}
.shadow-right {
  box-shadow: rgba(33, 40, 50, 0.15) 0.15rem 0px 1.75rem 0px !important;
}
.main-contaciner {
  padding-left: 15rem;
  top: 3.625rem;
}

.bg-gradient-primary-to-secondary {
  background-color: rgb(0, 97, 242) !important;
  background-image: linear-gradient(
    135deg,
    rgb(0, 97, 242) 0%,
    rgba(105, 0, 199, 0.8) 100%
  ) !important;
}
.py-10 {
  padding-top: 10rem !important;
  padding-bottom: 6rem !important;
}

.sidenav .sidenav-menu .nav {
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 5px;
}
.sidenav .sidenav-menu .nav .sidenav-menu-heading {
  padding: 1.75rem 1rem 0.75rem;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.sidenav .sidenav-menu .nav .nav-link {
  display: flex;
  align-items: center;
  line-height: normal;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  position: relative;
}
.sidenav-light .sidenav-menu .nav-link {
  color: #3c434d;
}
.sidenav .sidenav-menu .nav .nav-link .nav-link-icon {
  font-size: 0.9rem;
  padding-right: 0.5rem;
  display: inline-flex;
}
.sidenav .sidenav-menu .nav .nav-link .sidenav-collapse-arrow {
  display: inline-block;
  margin-left: auto;
}

main {
  font-family: Metropolis-R;
}
